{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>

    <div class="wrapper" style="background-image: url({% static  'main/image/bg_4.jpg'%})">

        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a href="index.html" class="logo">
                    <img class="logo__img"  src="{% static 'main/image/logo.svg' %}" alt="">
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="mune__list-item">
                            <a href="{% url 'home' %}" class="menu__list-link">Главная</a>
                        </li>
                        <li class="mune__list-item">
                            <a href="{% url 'product' %}" class="menu__list-link">Каталог товаров</a>
                        </li>
                        <li class="mune__list-item">
                            <a href="{% url 'faq' %}" class="menu__list-link">ЧаВо</a>
                        </li>
                    </ul>
                </nav>

                </div>
            </div>

        </header>
        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer__copy">
                    <p class="footer__copy-text">
                        Thank you for choosing our online store!
                        We hope you found the products you were looking for.
                        If you have any questions or need assistance, please don’t hesitate to contact us.
                        We value your business and will do our best to make your shopping experience a positive one.
                        Have a great day!
                    </p>
                </div>
                <nav class="copy__nav">
                    <ul class="copy__nav-list">
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">Terms of Service</a></li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">Private Policy</a></li>
                        <li class="copy__nav-item">
                            <a href="#" class="copy__nav-link">Do Not Sell My Personal information</a></li>
                    </ul>
                </nav>

            </div>
        </footer>
    </div>
    <script src="main.js"></script>
</body>
</html>