{% extends "main/base.html"%}
{% load static %}
{% block title %}FitFusion{% endblock %}
{% block content %}

 <p class="faq_title">
                Часто задаваемые вопросы:
            </p>
            <p class="faq">

1.Есть ли возврат товаров, если они не подошли по размеру или не устроили?<br>
Возврат большинства товаров возможен, но есть определенные условия возврата.<br>
2.Какой вид обуви лучше подойдет для тренировок в зале? <br>
Наш сайт предоставляет огромны ассортимент спротивных кроссовок, которые подойдут для тренировок в зале.<br>
3.Как выбрать правильную экипировку для занятий определенным видом спорта?<br>
В нашем магазине работают сотрудники которые могут помочь с этим выбором.<br>
4.Есть ли гарантия на спортивные товары? <br>
На наши распространяется гарантия от производителя и дополнительно можно оформить отдельно от магазина.<br>
5.Как ухаживать за спортивными изделиями, чтобы они служили дольше? <br>
Своевременно поддерживать чистоту изделия и использовать специальные средства для ухода.<br>

            </p>
{% endblock %}