{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitFusion</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="wrapper_1" style="background-image: url({% static  'main/image/bg_4.jpg'%})">
        <div class="pop_reg" id="pop_reg"></div>
        <div class="pop_reg_container">
            <div class="pop_reg_body" id="pop_reg_body">
                <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {{form.price}}<br>
                    {{form.title}}<br>
          {{form.img}}<br>
          <span>{{error}}</span>
          <button type="submit">Добавить</button>
                     <a href="{%url 'home'%}"><div class="pop_reg_close" >&#10006</div></a>
        </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>